
/*Writer CSS*/
#writer{
	padding:20px 0;
}

#writer .type-msg{
	text-align: center;
}

#writer .type-msg .btn{
	/*background:#599f87;*/
	/*background:#db0934;*/
	border-radius: 4px;
	border:none;
}

#writer .box{
  padding:0;
  display: none;
}
#writer label{
  display: none;
}
#writer textarea,
#writerHeadline,
#relatedUrl{
	display: none;
}
#writer textarea{
	height:140px;
}
#writer .submit{
	display: none;
}

#wedit{
	padding:0;
	/*height:200px;*/
	height:0;
  opacity: 0;
	border-radius: 3px;
	overflow:auto;
	background: #fff;
	font-size:36px;
	line-height: 52px;
	font-weight: 800;
}

#wedit.capslock .highlight{
	/*text-transform: uppercase !important;*/

}

/*Emoji*/
#wedit span .emoji{
	margin-left: 5px;
	top:2px;
	position: relative;
	height:30px;
	width:30px;
	vertical-align: baseline;
}

#wedit .highlight{
	padding-bottom: 2px;
	/*background: #fff7d1;*/
	/*background: rgba(252,219,1,.5);*/
	color:#ff4a62;
	/*color:#248fff;*/
	border-radius: 4px;
}


