
#writer{}

#writer .type-msg{
	text-align: center;
}

#writer .box{
  padding:0;
  display: none;
}
#writer label{
  display: none;
}
#writer textarea,
#writerHeadline,
#relatedUrl{
	display: none;
}
#writer textarea{
	height:140px;
}
#writer .submit{
	display: none;
}

#wedit{
	padding:0;
	/*height:200px;*/
	height:0;
  opacity: 0;
	border-radius: 3px;
	overflow:auto;
	background: #fff;
}